@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@500;600;700&family=Inter:wght@400;500;600&display=swap');

body {
  background-color: #F7F3EC;
  margin: 0;
  font-family: "Inter", sans-serif;
  color: #292621;
}

h1,
h2,
h3 {
  font-family: "Cormorant Garamond", serif;
}